body {
    background-color: #302e2b;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.rankRow {
    width: fit-content;
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
}

.white {
    background-color: #eeeed2;
}

.black {
    background-color: #769656;
}