body {
    background-color: #302e2b;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.rankRow {
    width: fit-content;
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square img {
    width: 70px;
    height: 70px;
}
.white {
    background-color: #eeeed2;
}

.black {
    background-color: #769656;
}

.highlight {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
    border-radius: 50%;
    background-color: black;
    opacity: 0.3;
}
